*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] repeat(6, [col-start] 1fr [col-end]) [center-end] 1fr [full-end];
  grid-template-rows: 120vh;
}
@media only screen and (max-width: 75em) {
  .container {
    grid-template-columns: [full-start] 0.5fr [center-start] repeat(6, [col-start] 1fr [col-end]) [center-end] 0.5fr [full-end];
  }
}
@media only screen and (max-width: 56.25em) {
  .container {
    grid-template-rows: auto;
  }
}

.container.about,
.container.service,
.container.contact {
  grid-template-rows: 50rem;
}

body {
  font-family: "Mulish", sans-serif;
  color: #fff;
}

.text {
  font-family: "PT Serif", serif;
  font-size: 1.6rem;
  line-height: 1.8;
}
.text--white {
  color: #fff;
}
.text--dark {
  color: #2e3c2d;
}

.heading-1 {
  font-family: "Mulish", sans-serif;
  font-size: 7.4rem;
  line-height: 1;
}

.heading-2 {
  font-size: 5.6rem;
  color: #2e3c2d;
  font-weight: 800;
  line-height: 1.1;
  letter-spacing: 0.2rem;
  margin-bottom: 2.4rem;
}

.heading-3 {
  font-size: 2.4rem;
  font-family: "Mulish", sans-serif;
  color: #2e3c2d;
  font-size: 2.4rem;
  font-weight: 800;
  letter-spacing: 0.05rem;
}

.margin-bottom-medium {
  margin-bottom: 9.6rem;
}

.margin-bottom-large {
  margin-bottom: 12.8rem;
}

.text-center {
  text-align: center;
}

.align-self-center {
  align-self: center;
}

.header {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.header--home {
  background-image: url(../../img/hero_01.png);
  background-size: cover;
  background-position: bottom;
  grid-template-rows: repeat(5, min-content);
}
.header--inner {
  background-image: url(../../img/hero_03.jpg);
  grid-template-rows: min-content repeat(4, 1fr);
  position: relative;
}
.header--inner .pre-header {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column: 1/-1;
  background-color: #2e3c2d;
}
@media only screen and (max-width: 56.25em) {
  .header--inner .pre-header {
    justify-content: center;
  }
}
@media only screen and (max-width: 56.25em) {
  .header--inner .pre-header {
    grid-row: 1/2;
  }
}
@media only screen and (max-width: 37.5em) {
  .header--inner .pre-header {
    background-color: transparent;
  }
}
.header--inner .header__text {
  grid-column: 2/7;
}
.header--inner .header__heading {
  font-size: 5.6rem;
  text-transform: uppercase;
  grid-column: 1/-1;
  grid-row: 4/5;
  justify-self: center;
  z-index: 8;
  text-shadow: 1px 1px 2px #2e3c2d;
}
.header--inner .header__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}
@media only screen and (max-width: 75em) {
  .header {
    background-image: url(../../img/hero_01_cut.png);
  }
}
@media only screen and (max-width: 56.25em) {
  .header {
    padding-bottom: 8.6rem;
  }
}
.header__text {
  font-family: "PT Serif", serif;
  font-size: 1.6rem;
  grid-column: 2/span 5;
  margin: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .header__text {
    display: none;
  }
}
.header__social-icons {
  grid-column: 7/span 1;
  display: flex;
  justify-content: end;
  margin: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .header__social-icons {
    grid-column: 1/-1;
    justify-content: center;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__social-icons {
    grid-row: 1/2;
    grid-column: 3/span 4;
    z-index: 2;
    align-items: center;
  }
}
.header__icon {
  width: 1.6rem;
  height: 1.6rem;
  fill: #fff;
  margin: 0 0.8rem;
  transition: all 0.3s;
}
.header__icon:hover {
  fill: rgba(188, 222, 133, 0.5);
}
.header__heading {
  font-size: 7.4rem;
  line-height: 1;
  grid-column: 2/-1;
  margin-left: 2rem;
}
.header__heading span {
  display: block;
}
.header__title {
  font-family: "PT Serif", serif;
  color: #fff;
  font-weight: 300;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  grid-column: 2/-1;
  margin-top: 10vw;
  margin-left: 2rem;
}
.header__btn {
  justify-self: start;
  grid-column: 2/-1;
  margin-left: 2rem;
  margin-top: 2rem;
}

.nav {
  background-color: #647941;
  grid-column: 2/span 6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  padding: 1rem 4rem;
  border-radius: 16px;
  z-index: 9;
}
@media only screen and (max-width: 75em) {
  .nav {
    z-index: auto;
  }
}
@media only screen and (max-width: 37.5em) {
  .nav {
    grid-column: 1/-1;
    grid-row: 1/2;
    border-radius: 0;
  }
}
.nav__logo {
  width: 10rem;
}
.nav__list {
  grid-column: 2/span 4;
  justify-self: center;
  font-size: 2rem;
  font-family: "PT Serif", serif;
  list-style-type: none;
  display: flex;
  z-index: 10;
  transition: all 0.3s ease-in 0.2s;
}
.nav__list.open {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
@media only screen and (max-width: 75em) {
  .nav__list {
    position: fixed;
    background-color: #e1edcd;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
  }
}
@media only screen and (max-width: 75em) {
  .nav__item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}
.nav__link, .nav:link, .nav:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin: 1rem 2rem;
  transition: all 0.3s;
}
@media only screen and (max-width: 75em) {
  .nav__link, .nav:link, .nav:visited {
    color: #2e3c2d;
  }
}
.nav__link:hover, .nav:link:hover, .nav:visited:hover {
  color: rgba(188, 222, 133, 0.5);
}
@media only screen and (max-width: 75em) {
  .nav__link:hover, .nav:link:hover, .nav:visited:hover {
    color: #647941;
  }
}
.nav__link.active, .nav:link.active, .nav:visited.active {
  color: rgba(188, 222, 133, 0.5);
}
@media only screen and (max-width: 75em) {
  .nav__link.active, .nav:link.active, .nav:visited.active {
    color: #647941;
  }
}
.nav__toggle {
  display: none;
}
@media only screen and (max-width: 75em) {
  .nav__toggle {
    display: block;
    background-color: transparent;
    border: none;
    border-radius: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    grid-column: 7/-1;
    align-self: center;
    z-index: 1;
  }
}
.nav__toggle-bar {
  display: block;
  width: 20px;
  height: 1px;
  background-color: #fff;
}
.nav__toggle-bar:not(:last-child) {
  margin-bottom: 5px;
}
.nav__close {
  position: fixed;
  top: 2px;
  right: 15px;
  z-index: 20;
  background-color: transparent;
  border: none;
  font-size: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in 0.2s;
  transform: translateX(100%);
}
.nav__close.open {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
.nav__mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}
.nav__mobile-menu-overlay.open {
  visibility: visible;
  opacity: 1;
}

.sticky {
  position: fixed;
  width: 75%;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen and (max-width: 75em) {
  .sticky {
    position: static;
    width: auto;
    transform: none;
  }
}

.footer {
  color: #fff;
  display: grid;
  grid-template-columns: repeat(8, minmax(10rem, 1fr));
}
@media only screen and (max-width: 75em) {
  .footer {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media only screen and (max-width: 37.5em) {
  .footer {
    text-align: center;
  }
}
.footer__tittle {
  grid-column: 3/span 4;
  font-size: 3.6rem;
  color: #000;
  font-weight: 800;
  padding: 0 1.2rem;
  line-height: 1.4;
}
@media only screen and (max-width: 75em) {
  .footer__tittle {
    grid-column: 1/-1;
  }
}
.footer__form {
  grid-column: 3/span 4;
  margin: 6.4rem 0 8.6rem 0;
  justify-self: center;
}
@media only screen and (max-width: 75em) {
  .footer__form {
    grid-column: 2/span 6;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__form {
    grid-column: 1/-1;
  }
}
.footer__input {
  font-family: "PT Serif", serif;
  width: 40rem;
  height: 4.5rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 1.2rem;
  margin-right: 1.2em;
  border-radius: 3px;
  background-color: transparent;
  transition: all 0.3s;
}
@media only screen and (max-width: 37.5em) {
  .footer__input {
    width: 90%;
    margin-bottom: 1.2rem;
  }
}
.footer__input:focus {
  outline: none;
  background-color: #fff;
  border-color: #647941;
}
.footer__heading {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 2rem;
}
.footer__text {
  font-family: "PT Serif", serif;
}
.footer__logo {
  grid-column: 2/span 1;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 37.5em) {
  .footer__logo {
    grid-column: 1/-1;
  }
}
.footer__logo-img {
  width: 10rem;
}
.footer__social-icons {
  grid-column: 7/span 1;
}
@media only screen and (max-width: 1400px) {
  .footer__social-icons {
    grid-column: 6/span 2;
    justify-self: end;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__social-icons {
    grid-column: 1/-1;
    justify-self: center;
  }
}
.footer__icon {
  width: 2.4rem;
  height: 2.4rem;
}
.footer__social-link, .footer:link, .footer:visited {
  fill: #fff;
  display: inline-flex;
  align-content: center;
  align-items: center;
  width: 3.6rem;
  height: 3.6rem;
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: 50%;
  justify-content: center;
  transition: all 0.7s;
}
.footer__social-link:not(:last-child), .footer:link:not(:last-child), .footer:visited:not(:last-child) {
  margin-right: 0.5rem;
}
.footer__social-link:hover, .footer__social-link:active, .footer:link:hover, .footer:link:active, .footer:visited:hover, .footer:visited:active {
  fill: #647941;
}
.footer__line {
  grid-column: 2/span 6;
  height: 0.1rem;
  background-color: #fff;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 37.5em) {
  .footer__line {
    grid-row: 5/span 1;
    grid-column: 1/-1;
    margin-top: 2.2rem;
  }
}
.footer__about {
  color: #fff;
  grid-column: 2/span 2;
}
@media only screen and (max-width: 75em) {
  .footer__about {
    grid-row: 5/6;
    grid-column: 2/span 2;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__about {
    grid-row: 5/span 1;
    grid-column: 1/-1;
    margin-top: 4.8rem;
    padding: 0 8rem;
  }
}
.footer__links {
  grid-column: 4/span 2;
  justify-self: center;
}
@media only screen and (max-width: 75em) {
  .footer__links {
    grid-row: 5/6;
    grid-column: 6/span 2;
    justify-self: end;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__links {
    grid-row: 6/span 1;
    grid-column: 1/-1;
    justify-self: center;
    margin-top: 4.8rem;
  }
}
.footer__list {
  list-style-type: none;
}
.footer__list-item:not(:last-child) {
  margin-bottom: 1rem;
}
.footer__list-link, .footer:link, .footer:visited {
  font-family: "PT Serif", serif;
  font-size: 1.6rem;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}
.footer__list-link:hover, .footer__list-link:active, .footer:link:hover, .footer:link:active, .footer:visited:hover, .footer:visited:active {
  color: rgba(188, 222, 133, 0.5);
}
.footer__list-link.active, .footer:link.active, .footer:visited.active {
  color: rgba(188, 222, 133, 0.5);
}
.footer__address {
  font-style: normal;
  grid-column: 7/span 1;
}
@media only screen and (max-width: 75em) {
  .footer__address {
    grid-row: 6/7;
    grid-column: 4/span 2;
    text-align: center;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__address {
    grid-row: 7/span 1;
    grid-column: 1/-1;
    justify-self: center;
    margin-top: 4.8rem;
  }
}
.footer__street {
  font-size: 1.4rem;
  font-family: "PT Serif", serif;
  margin-bottom: 0.8rem;
}
.footer__phone, .footer:link, .footer:visited {
  font-family: "PT Serif", serif;
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  transition: all 0.3s;
}
.footer__phone:hover, .footer:link:hover, .footer:visited:hover {
  color: rgba(188, 222, 133, 0.5);
}
.footer__email, .footer:link, .footer:visited {
  font-family: "PT Serif", serif;
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  transition: all 0.3s;
}
.footer__email:hover, .footer:link:hover, .footer:visited:hover {
  color: rgba(188, 222, 133, 0.5);
}

.btn {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: "PT Serif", serif;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  border: none;
  border-radius: 5px;
  padding: 1.4rem 1.6rem;
  transition: all 0.2s;
  cursor: pointer;
}

.btn--primary {
  background-color: #647941;
}
.btn--primary:hover {
  background-color: #191919;
}

.btn--black {
  background-color: #191919;
  padding: 1.2rem 4.8rem;
}
.btn--black:hover {
  background-color: #647941;
}

.btn--white {
  background-color: #fff;
  color: #647941;
}
.btn--white:hover {
  background-color: #647941;
  color: #fff;
}

@media only screen and (max-width: 75em) {
  .services__tittle {
    grid-column: 1/-1;
    text-align: center;
  }
}
.services__text {
  font-size: 1.6rem;
  color: #2e3c2d;
  line-height: 1.8;
  grid-column: 1/1;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 75em) {
  .services__text {
    grid-column: 1/-1;
  }
}
.services__btn--left {
  grid-column: 1/1;
  align-self: center;
  justify-self: start;
}
.services__btn--right {
  grid-column: 2/-1;
  align-self: center;
  justify-self: start;
}
@media only screen and (max-width: 75em) {
  .services__btn--right {
    grid-column: 1/-1;
  }
}
.services__img-1 {
  grid-column: 1/span 1;
  grid-row: 4/5;
  border-radius: 1.2rem;
  margin-left: 3.2rem;
  width: 90%;
}
@media only screen and (max-width: 37.5em) {
  .services__img-1 {
    grid-column: 1/-1;
    width: 60%;
    justify-self: center;
  }
}
.services__img-2 {
  grid-column: 2/-1;
  grid-row: 3/5;
  width: 90%;
  justify-self: center;
}
@media only screen and (max-width: 75em) {
  .services__img-2 {
    grid-row: 4/5;
  }
}
@media only screen and (max-width: 37.5em) {
  .services__img-2 {
    grid-column: 1/-1;
    grid-row: 5/span 1;
    width: 60%;
    justify-self: center;
    margin-bottom: 8.6rem;
  }
}

.our-story__heading {
  grid-column: 4/span 6;
  color: inherit;
  padding: 0 8rem;
}
@media only screen and (max-width: 56.25em) {
  .our-story__heading {
    grid-column: 1/-1;
    padding: 0 1rem;
    font-size: 4.4rem;
  }
}
.our-story__text {
  grid-column: 4/span 6;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  padding: 0 8rem;
}
@media only screen and (max-width: 56.25em) {
  .our-story__text {
    grid-column: 1/-1;
    padding: 0 4rem;
  }
}

@media only screen and (max-width: 75em) {
  .features {
    margin-top: 9.6rem;
  }
}
.features__img-1 {
  grid-column: 2/-1;
  margin-top: -10rem;
  border-radius: 1.2rem;
}
@media only screen and (max-width: 75em) {
  .features__img-1 {
    margin-top: 0;
    width: 70%;
  }
}
@media only screen and (max-width: 37.5em) {
  .features__img-1 {
    width: 60%;
    grid-column: 1/-1;
    justify-self: center;
  }
}
.features__img-2 {
  width: 70%;
  grid-column: 1/2;
  grid-row: 1/2;
  transform: translateY(20rem);
  justify-self: center;
}
@media only screen and (max-width: 75em) {
  .features__img-2 {
    grid-row: 1/2;
    transform: translateY(0);
    align-self: center;
  }
}
@media only screen and (max-width: 37.5em) {
  .features__img-2 {
    width: 60%;
    grid-column: 1/-1;
    justify-self: center;
    margin-bottom: 8.6rem;
  }
}
.features__special {
  grid-column: 2/-1;
  margin-top: -8rem;
}
@media only screen and (max-width: 75em) {
  .features__special {
    grid-column: 1/-1;
  }
}
@media only screen and (max-width: 37.5em) {
  .features__special {
    margin-top: 0;
  }
}
.features__box {
  display: grid;
  grid-template-columns: 8rem minmax(min-content, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 2rem;
}
.features__tittle {
  margin-bottom: 4.8rem;
  margin-top: 12rem;
}
@media only screen and (max-width: 75em) {
  .features__tittle {
    text-align: center;
  }
}
.features__heading-3 {
  align-self: end;
}
.features__icon {
  width: 8rem;
  grid-row: 1/-1;
  align-self: center;
}
.features__text {
  grid-column: 2/-1;
  margin-top: 1.6rem;
}

.slider__slides {
  display: grid;
  grid-template-columns: 1fr 30vw 1fr;
  overflow: hidden;
}
@media only screen and (max-width: 37.5em) {
  .slider__slides {
    grid-column: 1/-1;
    margin-bottom: 2.4rem;
    grid-template-columns: auto;
  }
}
.slider__slides > :nth-child(1) {
  grid-column: 2/3;
  grid-row: 1/2;
}
.slider__slides > :nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}
.slider__slides > :nth-child(3) {
  grid-column: 2/3;
  grid-row: 1/2;
}
.slider__slide {
  font-family: "PT Serif", serif;
  font-size: 1.6rem;
  font-style: italic;
  color: #000;
  font-weight: 800;
  text-align: end;
  margin-top: 1.8rem;
  transition: all 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.slider__slide span {
  margin-right: 1.8rem;
}
.slider__img {
  width: 100%;
  border-radius: 1.2rem;
}
.slider__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 37.5em) {
  .slider__box {
    grid-column: 1/-1;
    text-align: center;
  }
}
@media only screen and (max-width: 37.5em) {
  .slider__box-tittle {
    order: 2;
    padding-bottom: 3rem;
    border-bottom: 1px solid #647941;
  }
}
.slider__arrows {
  display: flex;
  gap: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .slider__arrows {
    justify-content: center;
    order: 1;
    margin-bottom: 3rem;
  }
}
.slider__arrow--left svg {
  width: 4rem;
  height: 4rem;
  fill: #647941;
  cursor: pointer;
}
.slider__arrow--right svg {
  width: 4rem;
  height: 4rem;
  fill: #647941;
  cursor: pointer;
}

.deliver {
  text-align: center;
}
.deliver h2 {
  margin-bottom: 6.4rem;
}
.deliver span {
  display: block;
}
.deliver__boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-column-gap: 2.4rem;
  grid-row-gap: 6.4rem;
}
@media only screen and (max-width: 75em) {
  .deliver__boxes {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 75em) {
  .deliver__boxes {
    grid-template-columns: 1fr;
  }
}
.deliver__boxes h3 {
  margin-bottom: 1.6rem;
}
.deliver__icon {
  width: 12rem;
}

.testimonials__text-box {
  align-self: center;
}
@media only screen and (max-width: 112.5em) {
  .testimonials__text-box {
    grid-column: 1/-1;
    text-align: center;
    margin-bottom: 1.8rem;
  }
}
.testimonials__tittle {
  padding-right: 2.2rem;
}
.testimonials__text {
  margin-bottom: 2.4rem;
}
.testimonials__slider-container {
  display: grid;
  overflow: hidden;
}
@media only screen and (max-width: 37.5em) {
  .testimonials__slider-container {
    grid-column: 1/-1;
    text-align: center;
  }
}
.testimonials__slider {
  grid-column: 3/-1;
  background-color: #f4f4ec;
  border-radius: 1.2rem 0 0 1.2rem;
  padding: 9.6rem 12.8rem 9.6rem 0;
  display: grid;
  grid-template-columns: 40% 60%;
}
@media only screen and (max-width: 112.5em) {
  .testimonials__slider {
    grid-column: 1/-1;
    padding-left: 10rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .testimonials__slider {
    padding-left: 0;
    padding: 3.2rem;
  }
}
.testimonials__slider cite {
  display: block;
  font-size: 1.6rem;
  font-family: "PT Serif", serif;
  font-weight: 600;
  color: #647941;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.testimonials__slider span {
  color: #2e3c2d;
  display: block;
  margin-top: 0.5rem;
}
.testimonials__slide {
  grid-column: 2/-1;
  grid-row: 1/1;
  align-self: center;
  transition: all 0.3s;
}
.testimonials__image img {
  width: 115%;
  border-radius: 1.2rem;
  transform: translateX(-10rem);
}
@media only screen and (max-width: 112.5em) {
  .testimonials__image img {
    width: 85%;
    transform: translateX(0);
  }
}
@media only screen and (max-width: 37.5em) {
  .testimonials__image img {
    width: 100%;
  }
}
@media only screen and (max-width: 37.5em) {
  .testimonials__image {
    grid-column: 1/-1;
    margin-bottom: 2rem;
  }
}

.dots {
  grid-column: 2/-1;
}
.dots .dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}
.dots__dot.dots__dot--active {
  background-color: #647941;
}

.faq__question-box {
  margin-bottom: 2.4rem;
}
.faq__question-box:not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.faq__question {
  margin-top: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.faq__question span {
  font-size: 4rem;
}
.faq__answer {
  color: #2e3c2d;
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s;
}
.faq__img {
  border-radius: 1.2rem;
  justify-self: center;
}
@media only screen and (max-width: 37.5em) {
  .faq__img {
    width: 100%;
  }
}

.logos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 6.4rem;
  border-top: 1px solid rgba(152, 152, 152, 0.2);
  border-bottom: 1px solid rgba(152, 152, 152, 0.2);
  padding: 12.8rem 0;
}
@media only screen and (max-width: 37.5em) {
  .logos {
    grid-template-columns: 1fr 1fr;
  }
}
.logos__img {
  width: 100%;
}
@media only screen and (max-width: 37.5em) {
  .logos__img {
    width: 80%;
  }
}

.services {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-column-gap: 2rem;
}

.our-story {
  grid-column: full-start/full-end;
  background-image: url(../../img/hero_02.jpg);
  background-size: cover;
  background-position: top;
  color: #fff;
  padding: 18rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr) repeat(6, minmax(15rem, 1fr)) repeat(3, 1fr);
  justify-content: center;
  text-align: center;
}
@media only screen and (max-width: 56.25em) {
  .our-story {
    grid-template-columns: repeat(12, 1fr);
  }
}

.features {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, min-content);
}

.slider {
  grid-column: center-start/center-end;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.deliver {
  grid-column: center-start/center-end;
}

.testimonials {
  grid-column: center-start/full-end;
  display: grid;
  grid-template-columns: 30% 5% 65%;
}
@media only screen and (max-width: 112.5em) {
  .testimonials {
    grid-column: center-start/center-end;
  }
}

.faq {
  grid-column: 2/8;
  display: grid;
  grid-template-columns: 50% 30%;
  column-gap: 14rem;
}
@media only screen and (max-width: 75em) {
  .faq {
    grid-template-columns: 1fr 1fr;
    column-gap: 8rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .faq {
    grid-template-columns: 1fr;
    column-gap: 0;
    grid-row-gap: 2.4rem;
  }
}

.logos {
  grid-column: 2/8;
}

.footer {
  grid-column: full-start/full-end;
  background-image: url("../../img/footer_bgr.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 12.8rem 0;
}
@media only screen and (max-width: 56.25em) {
  .footer {
    padding: 6.4rem 0;
  }
}

section {
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.lazy-img {
  filter: blur(20px);
}

.specifications__heading {
  color: #647941;
  grid-column: 2/-1;
}
@media only screen and (max-width: 56.25em) {
  .specifications__heading {
    grid-column: 1/-1;
    text-align: center;
  }
}
.specifications__text {
  color: #2e3c2d;
  grid-column: 2/-1;
}
.specifications__main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.specifications__img {
  height: 70px;
  grid-row: 1/-1;
  align-self: start;
}
.specifications__box {
  border: 1px solid rgba(100, 121, 65, 0.5);
  border-radius: 10px;
  margin-top: 2rem;
  padding: 2rem 2rem;
  gap: 1rem;
  transform: translateY(6rem);
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  transition: all 0.3s;
}
.specifications__box:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
}
.specifications__box-heading {
  color: #647941;
}

.exclusive__heading {
  grid-column: 1/-1;
}
.exclusive__img-wrapper {
  position: relative;
  color: #647941;
}
.exclusive__img-wrapper:hover .exclusive__overlay {
  opacity: 1;
}
.exclusive__img-wrapper:hover .exclusive__overlay-text {
  transform: scale(1);
}
.exclusive__img-wrapper:hover .exclusive__overlay-heading {
  transform: scale(1);
}
.exclusive__overlay {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  display: grid;
  grid-template-columns: 5rem 1fr 5rem;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.exclusive__overlay-heading {
  font-size: 3.6rem;
  color: #2e3c2d;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  margin-bottom: 1.2rem;
  grid-column: 2/span 1;
  grid-row: 1/span 1;
}
.exclusive__overlay-text {
  font-size: 1.6rem;
  font-family: "PT Serif", serif;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  grid-column: 2/span 1;
  grid-row: 3/span 1;
}
.exclusive__img {
  width: 100%;
  border-radius: 10px;
  position: relative;
  display: block;
}

.environment__img {
  width: 100%;
  border-radius: 10px;
}
.environment__text-box--2 {
  grid-column: 1/span 1;
  grid-row: 2/span 1;
  text-align: right;
}
@media only screen and (max-width: 37.5em) {
  .environment__text-box--2 {
    grid-row: 1/span 1;
    text-align: left;
  }
}
.environment__heading {
  font-size: 3.6rem;
}
.environment__text {
  color: #2e3c2d;
}

.specifications {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .specifications {
    grid-template-columns: 1fr;
  }
}

.exclusive {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
@media only screen and (max-width: 37.5em) {
  .exclusive {
    grid-template-columns: 1fr;
  }
}

.environment {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  grid-row-gap: 8.6rem;
}
@media only screen and (max-width: 37.5em) {
  .environment {
    grid-template-columns: 1fr;
  }
}

.our-service__box {
  height: 100%;
  background-size: cover;
  background-position: top;
  padding: 3rem;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.our-service__box--1 {
  background-image: url(../../img/services_01r.jpg);
}
.our-service__box--2 {
  background-image: url(../../img/services_02.jpg);
}
.our-service__box--3 {
  background-image: url(../../img/services_03.jpg);
}
.our-service__box--4 {
  background-image: url(../../img/services_04.jpg);
}
.our-service__content {
  background-color: rgba(100, 121, 65, 0.7);
  border-radius: 10px;
  padding: 3rem;
  grid-column: 1/span 2;
}
@media only screen and (max-width: 75em) {
  .our-service__content {
    grid-column: 1/-1;
    padding: 2rem;
  }
}
.our-service__content--right {
  grid-column: 2/-1;
}
@media only screen and (max-width: 75em) {
  .our-service__content--right {
    grid-column: 1/-1;
  }
}
.our-service__heading {
  color: #fff;
  margin-bottom: 4.2rem;
}
.our-service__text {
  color: #fff;
  margin-bottom: 4.2rem;
}

.our-services {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
@media only screen and (max-width: 56.25em) {
  .our-services {
    grid-template-columns: 1fr;
  }
}

.map {
  height: 50rem;
  z-index: 0;
}

.contact-form__heading {
  grid-column: 1/-1;
  margin-bottom: 2.2rem;
}

.form {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .form__group {
    grid-column: 1/-1;
  }
}
.form__label {
  font-size: 1.6rem;
  color: #647941;
  transition: all 0.3s;
  display: block;
  transform: translateY(-7.5rem);
}
@media only screen and (max-width: 56.25em) {
  .form__label {
    transform: translateY(-8.5rem);
  }
}
.form__label-textarea {
  font-size: 1.6rem;
  color: #647941;
  transition: all 0.3s;
  display: block;
  transform: translateY(-23rem);
}
@media only screen and (max-width: 56.25em) {
  .form__label-textarea {
    transform: translateY(-27rem);
  }
}
.form__input {
  font-size: 1.4rem;
  height: 45px;
  width: 100%;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 1rem;
  outline: none;
  transition: all 0.3s;
}
.form__input::placeholder {
  color: rgba(100, 121, 65, 0.5);
}
.form__input:focus:invalid {
  border-color: red;
}
.form__input:focus, .form__input:active {
  border-color: #647941;
}
.form__input.invalid {
  border-color: rgb(192, 19, 19);
}
.form__input.valid {
  border-color: rgb(21, 163, 21);
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__msg:placeholder-shown + .form__label-textarea {
  opacity: 0;
  visibility: hidden;
  transform: translateY(0);
}
.form__error {
  display: block;
  font-size: 1.6rem;
  color: rgb(192, 19, 19);
  transform: translateY(-2rem);
}
.form__group-msg {
  grid-column: 1/-1;
  height: 200px;
  margin-bottom: 3rem;
}
.form__msg {
  font-family: "Mulish", sans-serif;
  font-size: 1.4rem;
  grid-column: 1/-1;
  width: 100%;
  height: 100%;
  padding: 1rem;
  margin-top: 0.6rem;
  outline: none;
  transition: all 0.3s;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.form__msg:focus:invalid {
  border-color: red;
}
.form__msg::placeholder {
  color: rgba(100, 121, 65, 0.5);
}
.form__msg.invalid {
  border-color: rgb(192, 19, 19);
}
.form__msg:focus, .form__msg:active {
  border-color: #647941;
}

.info {
  display: grid;
  gap: 2rem;
}
.info > * {
  border: 1px solid rgba(100, 121, 65, 0.5);
  border-radius: 10px;
  padding: 1rem;
  transition: all 0.3s;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.info > *:hover {
  border-color: #647941;
}
.info__number, .info:link, .info:visited {
  font-size: 1.8rem;
  color: #647941;
}
.info__number:hover, .info__number:active, .info:link:hover, .info:link:active, .info:visited:hover, .info:visited:active {
  color: #2e3c2d;
}
.info__mail-address, .info:link, .info:visited {
  font-size: 1.8rem;
  color: #647941;
}
.info__mail-address:hover, .info__mail-address:active, .info:link:hover, .info:link:active, .info:visited:hover, .info:visited:active {
  color: #2e3c2d;
}
.info__street {
  color: #647941;
}

.map-area {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-column-gap: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .map-area {
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
  }
}

.contact-form {
  grid-column: center-start/center-end;
}

/*# sourceMappingURL=style.css.map */
