// COLORS
$color-primary: #647941;
$color-secondary: #2e3c2d;
$color-white: #fff;
$btn-secondary-color: #191919;

$color-green: #66ff66;
$color-gray-light: #989898;

// FONTS
$font-text: 'PT Serif', serif;
$font-heading: 'Mulish', sans-serif;
$default-font-size: 1.6rem;
$heading-1: 7.4rem;
$heading-2: 5.6rem;
$heading-3: 2.4rem;

$radius: 1.2rem;

// MEDIA BREAKING POINTS

$bp-large: 75em; //1200px
$bp-medium: 800px;
$bp-small: 320px;
