.btn {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: $font-text;
  font-weight: 600;
  color: $color-white;
  display: inline-block;
  border: none;
  border-radius: 5px;
  padding: 1.4rem 1.6rem;
  transition: all 0.2s;
  cursor: pointer;
}

.btn--primary {
  background-color: $color-primary;

  &:hover {
    background-color: $btn-secondary-color;
  }
}

.btn--black {
  background-color: $btn-secondary-color;
  padding: 1.2rem 4.8rem;

  &:hover {
    background-color: $color-primary;
  }
}
