.features {
  &__img-1 {
    grid-column: 2/-1;

    margin-top: -10rem;
    border-radius: 1.2rem;

    @include respond(tab-land) {
      width: 85%;
    }
  }

  &__img-2 {
    width: 70%;
    grid-column: 1/2;
    grid-row: 1/2;
    transform: translateY(20rem);
    justify-self: center;

    @include respond(tab-land) {
      transform: translateY(3.6rem);
      justify-self: start;
    }
  }

  &__special {
    grid-column: 2/-1;
    margin-top: -8rem;

    @include respond(tab-land) {
      grid-column: 1/-1;
      margin-top: 8rem;
    }
  }

  &__box {
    display: grid;
    grid-template-columns: 8rem minmax(min-content, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
  }

  &__tittle {
    margin-bottom: 4.8rem;
    margin-top: 12rem;

    @include respond(tab-land) {
      margin-top: 0;
    }
  }

  &__heading-3 {
    align-self: end;
  }

  &__icon {
    width: 8rem;

    grid-row: 1/-1;
    align-self: center;
  }

  &__text {
    grid-column: 2/-1;
    margin-top: 1.6rem;
  }
}
