.our-story {
  &__heading {
    grid-column: 4 / span 4;
    color: inherit;

    @include respond(big-desktop) {
      grid-column: 3 / span 6;
    }

    @include respond(tab-land) {
      grid-column: 2 / span 8;
    }

    @include respond(tab-land) {
      grid-column: 1 / -1;
    }
  }

  &__text {
    grid-column: 4 / span 4;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);

    @include respond(big-desktop) {
      grid-column: 3 / span 6;
    }

    @include respond(tab-land) {
      grid-column: 2 / span 8;
    }

    @include respond(tab-land) {
      grid-column: 1 / -1;
    }
  }
}

.play {
  grid-column: 5 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

  text-decoration: none;
  color: inherit;
  font-family: $font-text;

  @include respond(tab-land) {
    grid-column: 1 / -1;
  }

  &__icon {
    width: 5rem;
    height: 5rem;
    fill: $color-white;
    margin-right: 2rem;
  }
  &__text {
    font-size: 2rem;
  }
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100%;

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  display: flex;
  justify-content: center;
  align-items: center;

  &__open {
    opacity: 1;
    visibility: visible;
  }

  // &__content {
  // }

  &__close,
  &:link,
  &:visited {
    font-size: 4rem;
    position: absolute;
    top: 5rem;
    right: 5rem;
    cursor: pointer;
    text-decoration: none;
    color: $color-white;
  }

  // &:target {
  //   opacity: 1;
  //   visibility: visible;
  // }
}
