.margin-bottom-medium {
  margin-bottom: 9.6rem;
}

.margin-bottom-large {
  margin-bottom: 12.8rem;
}

.text-center {
  text-align: center;
}

.align-self-center {
  align-self: center;
}
