.faq {
  &__question-box {
    margin-bottom: 2.4rem;

    &:not(:first-child) {
      border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
  &__question {
    margin-top: 2.2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    span {
      font-size: 4rem;
    }
  }

  &__answer {
    color: $color-secondary;
    overflow: hidden;
    max-height: 0;
    transition: all 0.3s;
  }

  &__img {
    border-radius: $radius;
    justify-self: center;
  }
}
